[Unit]
Description=Mount removable devices.
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/usermount

[Install]
WantedBy=sway-session.target
