[user]
	name = Tom Wambold
	email = tom5760@gmail.com
[core]
	editor = nvim
	pager = /usr/share/git/diff-highlight/diff-highlight | less -x2
[merge]
	tool = meld
	conflictstyle = diff3
[stash]
	showPatch = true
[fetch]
	prune = true
	pruneTags = true
[push]
	followTags = true
[alias]
	pushnew = "!git push -u origin \"$(git rev-parse --abbrev-ref HEAD)\""
	lg = log --graph --pretty=format:'%Cred%h%Creset %Cgreen(%cr)%Creset %C(yellow)%an%d%Creset %s' --date=relative
	mdiff = difftool --dir-diff -t meld
	please = push --force-with-lease
	recent = branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
[commit]
	verbose = true
[rebase]
	autosquash = true
[log]
	date = human
	follow = true
[pull]
	ff = only
[init]
	defaultBranch = main
[help]
	autoCorrect = prompt
[includeIf "gitdir:machineq/"]
  path = ~/.config/git/mq.config
