[user]
	name = Tom Wambold
	email = tom5760@gmail.com
[core]
	editor = vim
	pager = less
[merge]
	tool = vimdiff
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple
[alias]
  pushnew = "!git push -u origin \"$(git rev-parse --abbrev-ref HEAD)\""
  treelog = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
